[Unit]
Description=Legion Linux Toolkit — LLL Daemon (legiond)
Documentation=https://github.com/johnfanv2/LenovoLegionLinux
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/legiond
ExecReload=/usr/bin/legiond-ctl reload
Restart=on-failure
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
